body {
	background-color: #f2d3d3;
}

h1 {
  color: #FFFFFF;
  font-size: 35px;
}

a {
  text-decoration: none;
}

.topnav {
  background-color: black;
  overflow: hidden;
}

.topnav a {
  color: #FFFFFF;
  font-size: 25px;
  padding: 14px 16px;
}

.topnav a:hover {
  background-color: #df9292;
  color: #OOOOOO;
}

.topnav a.active {
  background-color: #c53b3b;
  color: #FFFFFF;
}

#photoFormulaOneHome {
  background: url("photoFormulaOneHome.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  Padding: 15px 0px;
}

.colorBand {
  background: #C4DACF;
  height: 120px;
  width: 100%;
}

